<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmw.kd.workLog.service.WorkLogCalendarMapper">
  <select id="selectWorkLogCalendarList" resultType="com.cmw.kd.workLog.model.WorkLogCalendarDto">
    SELECT TWLC.*, TM1.MEMBER_ID AS CONTENT_REG_ID, TM1.MEMBER_NAME AS CONTENT_REG_NAME, TWL.WORK_LOG_CONTENT, TWL.ACTIVE AS CONTENT_ACTIVE FROM (
        SELECT * FROM TB_WORK_LOG_CALENDAR
        WHERE CAL_MONTH = #{calMonth}
    ) TWLC
    LEFT OUTER JOIN (
        SELECT * FROM TB_MEMBER
        <if test="regId != null and !''.equals(regId)">
            WHERE MEMBER_ID = #{regId}
        </if>
    ) TM1 ON 1 = 1 AND TWLC.ACTIVE = 'Y'
    LEFT OUTER JOIN (
        SELECT * FROM TB_WORK_LOG WHERE ACTIVE = 'Y'
    ) TWL ON TWLC.CAL_DATE = TWL.WORK_LOG_DATE AND TM1.MEMBER_ID = TWL.REG_ID
    ORDER BY CAL_DATE DESC, MEMBER_NAME ASC
  </select>

  <insert id="insertWorkLogCalendar">
    INSERT INTO TB_WORK_LOG_CALENDAR(
        CAL_DATE
      , CAL_MONTH
      , ACTIVE
    ) VALUES(
        #{calDate}
      , #{calMonth}
      , #{active}
    )
  </insert>
</mapper>