<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmw.kd.workLog.service.WorkLogMapper">
  <sql id="searchClause">
    <if test="searchKeyword != null and !''.equals(searchKeyword)">
      <if test="searchCategory.equals('all')">
        AND (
        WORK_LOG_DATE LIKE CONCAT('%', #{searchKeyword}, '%')
        OR WORK_LOG_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
        OR REG_ID LIKE CONCAT('%', #{searchKeyword}, '%')
        )
      </if>
      <if test="searchCategory.equals('workLogDate')">
        AND WORK_LOG_DATE LIKE CONCAT('%', #{searchKeyword}, '%')
      </if>
      <if test="searchCategory.equals('workLogContent')">
        AND WORK_LOG_CONTENT LIKE CONCAT('%', #{searchKeyword}, '%')
      </if>
      <if test="searchCategory.equals('id')">
        AND REG_ID LIKE CONCAT('%', #{searchKeyword}, '%')
      </if>
    </if>
  </sql>

  <select id="selectWorkLogListCount" parameterType="com.cmw.kd.core.commonDto.SearchDto" resultType="int">
    SELECT COUNT(WORK_LOG_SEQ)
    FROM TB_WORK_LOG
    <where>
      <include refid="searchClause" />
      AND ACTIVE = 'Y'
    </where>
  </select>

  <select id="selectWorkLogList" parameterType="com.cmw.kd.core.commonDto.SearchDto" resultType="com.cmw.kd.workLog.model.WorkLogDto">
    SELECT *
    FROM TB_WORK_LOG
    <where>
      <include refid="searchClause" />
      AND ACTIVE = 'Y'
    </where>
    ORDER BY WORK_LOG_SEQ DESC
    LIMIT #{pagination.rowNum}, #{pagination.listLimit}
  </select>

  <select id="selectWorkLog" parameterType="int" resultType="com.cmw.kd.workLog.model.WorkLogDto">
    SELECT *
    FROM TB_WORK_LOG
    WHERE
      WORK_LOG_SEQ = #{workLogSeq}
      AND ACTIVE = 'Y'
  </select>

    <insert id="insertWorkLog" useGeneratedKeys="true" keyProperty="workLogSeq">
    INSERT INTO TB_WORK_LOG(
        WORK_LOG_SEQ
      , WORK_LOG_DATE
      , WORK_LOG_CONTENT
      , REG_ID
    ) VALUES (
        #{workLogSeq}
      , #{workLogDate}
      , #{workLogContent}
      , #{regId}
    )
  </insert>

  <update id="updateWorkLog">
    UPDATE TB_WORK_LOG
    SET
        UPD_ID = #{updId}
      , WORK_LOG_CONTENT = #{workLogContent}
    WHERE
      WORK_LOG_SEQ = #{workLogSeq}
  </update>

  <update id="deleteWorkLog">
    UPDATE TB_WORK_LOG
    SET
    ACTIVE = 'N'
    WHERE
      WORK_LOG_SEQ = #{workLogSeq}
  </update>

</mapper>
